.banner{
    width: 100%;
}
.banner .bg-pic{
    width: 100%;
    height: 630px;
    overflow: hidden;
}
.banner .bg-pic>ul {
     width: 300%;
     animation:10s  scroll infinite;
}
.banner .bg-pic>ul>li {
    width: 33.333%;
    height: 630px;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .bg-pic>ul>li:nth-child(1) {
    background-image: url('../img/banner/slider-img-1.jpg');
}
.banner .bg-pic>ul>li:nth-child(2) {
    background-image: url('../img/banner/slider-img-2.jpg');
}
.banner .bg-pic>ul>li:nth-child(3) {
    background-image: url('../img/banner/slider-img-3.jpg');
}
@keyframes scroll{
    0%,33%{margin-left: 0%;}
    33%,66%{margin-left: -100%;}
    66%,100%{margin-left: -200%;}
}
.banner .bg-pic{
    position: relative;
}
.banner .bg-pic .direction {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 40%;
    z-index: 20;
}
.banner .bg-pic .direction >div{
   width: 43px;
   height: 43px;
   border: 1px solid white;
   border-radius: 5px;
   text-align: center;
   line-height: 43px;
}
.banner .bg-pic .direction .left { 
    float: left;
    margin-left: 20px;
}
.banner .bg-pic .direction .right { 
    float: right;
    margin-right: 20px;
}
.banner .bg-pic .direction i{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 2px solid #bfbfbf;
    border-bottom: 2px solid #bfbfbf; 
}
.banner .bg-pic .direction .left i{
    transform: rotate(135deg) translate(-3px);
}
.banner .bg-pic .direction .right i{
    transform: rotate(-45deg) translateY(-3px);
}
.banner .bg-pic .direction >div:hover{
   background-color: #73b320;
   border-color: #73b320;
}
