.foot .foot-top{
	background-color: #3b4348;
	height: 48px;
	padding: 30px 0px;
}
.foot>div>div>div{
	float: left;
}
.foot>div>div .left h2{
	display: inline-block;
	font-size: 18px;
	line-height: 45px;
	color: white;
}
.foot>div>div .left h2 span{
	display: inline-block;
	width: 45px;
	height: 45px;
	font-size: 30px;
	background-color:white;
	border-radius: 5px;
	text-align: center;
	margin-right: 10px;
}
.foot>div>div  .search{
	height: 48px;
	width: 540px;
	margin-left:40px;
}
.foot>div>div .search input{
	display: block;
	float: left;
	width: 422px;
	height: 48px;
	border-width:0px;
	outline: none;
	font-size: 16px;
	color: black;
	padding: 0 20px;
	box-sizing: border-box;
}
.foot>div>div .search button{
	width: 113px;
	height: 48px;
	border-width:0px ;
	background-color:#73B320;
	font-size: 14px;
	font-weight: 600;
	color: white;
	outline: none;
}
.foot>div>div .search  button:hover{
	background-color: #39b0ff;
	transition:1s;
}
.foot>div>div .im{
	margin-left: 159px;
}
.foot>div>div .im a{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	margin: 0 2px;
	color: white;
}
.foot>div>div .im a:nth-child(1){
	background-color: #3B5999;
}
.foot>div>div .im a:nth-child(2){
	background-color: #1DA1F2;
}
.foot>div>div .im a:nth-child(3){
	background-color: #0077b5;
}
.foot>div>div .im a:nth-child(4){
	background-color: #CC332D;
}

.foot .foot-middle{
	background-color: #313131;
	padding: 40px 0px;
	height: 306px;
}
.foot>div>div ul{
	float: left;
	margin-right: 196px;
}
.foot>div>div  ul:nth-child(4){
	margin-right: 0;
}
.foot>div>div ul>li{
	margin: 20px 0px;
}

.foot>div>div  ul>li:nth-child(1){
	color: white;
	font-weight: 600;
	font-size: 18px;
}
.foot>div>div ul li a{
	display: inline-block;
	color: #ADADAD;
	font-size: 13px;
	
}
.foot>div>div  ul li a:hover{
	color: #007bff;
	transition: 1s;
	transform:translateX(14px);
}
.foot>div>div  ul:nth-child(4) .call a{
	color: #ADADAD;
}
.foot>div>div  ul:nth-child(4) .call a span{
	background-color: #007bff;
	color: white;
	font-size: 20px;
	padding: 4px 8px;
	
}
.foot>div>div  ul:nth-child(4) .call a i{
	color: white;
	font-weight: 600;
	font-style:normal
}
.foot>div>div  ul:nth-child(4) .call a:hover{
	color: white;
	transform:translateX(0px);
	transition: 1s;
}
.foot>div>div  ul:nth-child(4) .call a:hover span{
	color: #73B320;
	transition: 1s;
}
.foot>div>div  ul:nth-child(4) .call a:hover i{
	color: #73B320;
	transition: 1s;
}

.foot-bottom{
	background-color:#262626 ;
	height: 40px;
	padding: 30px 0px;
}
.foot-bottom>div img{
	float: right;
	line-height: 40px;
}
.foot-bottom>div span{
	font-size: 14px;
	color: #ADADAD;
	line-height: 40px;
}
.foot-bottom>div span a{
	color: #39B0FF;
}
